<div class="o-grid-row" data-o-grid-colspan="center 12 S10 M6">
  <div class="o-teaser-collection ">
    {{#if results}}
      <h2 class="o-teaser-collection__heading o-teaser-collection__heading--full-width">
      Searched: "{{query}}"
    </h2>
      {{#each results}}
        {{>teaser result=this}}
      {{/each}}
    {{/if}}
  </div>
</div>