<div class="o-grid-row" data-o-grid-colspan="center 12 S10 M6">
  <form
    class="search-head__form"
    role="search"
    data-trackable="search-form"
    action="/search"
  >
    <input type="hidden" name="sort" value="relevance" />
    <label
      class="search-head__form-label o-forms-field o-forms-field--optional"
    >
      <span
        class="search-head__form-title o-forms-title o-normalise-visually-hidden"
      >
        <span class="search-head__form-title-main o-forms-title__main">
          Query
        </span>
      </span>
      <span
        class="search-head__form-submit-wrapper o-forms-input o-forms-input--text o-forms-input--suffix"
      >
        <input
          required=""
          autocomplete="off"
          type="text"
          name="q"
          placeholder="please enter a search term"
          value=""
          class=""
        />
        <button
          class="o-buttons o-buttons--secondary o-buttons-icon o-buttons-icon--search"
        >
          Search
        </button>
      </span>
    </label>
  </form>
</div>