<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
<head>
  <title>Headline Search</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet"
    href='https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-grid@^5.2.9,o-colors@^5.3.1,o-typography@^6.4.5,o-header@^8.6.0,o-footer@^7.0.12,o-editorial-typography@^1.1.0,o-normalise@^2.0.7,o-teaser@^5.2.2,o-forms@^8.4.1,o-teaser-collection@^3.0.8,o-buttons@^6.2.0' />
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>

<body class="o-colors-page-background">
  {{> header}}
  {{{body}}}
  {{> footer}}
</body>

</html>
