<div >
  <div class="o-grid-row" data-o-grid-colspan="center 12 S10 M6">
    <h1 class="o-editorial-typography-headline centered-text header-centered">Headline Search</h1>
  </div>
  {{> searchbox}}
  {{> results}}
</div>